*{
    --login-color: #d3d3d3;
    --search-section-color: #ececec;
    --border-color: #999999;
    --background-color: #f5f5f5;
    --hovered: #dfdfdf;
    --hovered-trans: #dfdfdf93;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    overflow-y: visible;
}
*{
    font-family: basic_my, Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--login-color);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo{
    position: absolute;
    height: 5vh;
    left: 5vh;
}
#clock{
    position:absolute;
    left:20vh;
    font-size: medium;
}
.profButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profButtons a{
    position: absolute;
    width: 15vh;
    height: 3vh;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 70px;
    background-color: var(--background-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
#reglog{
    right: 5vh;
}
#reglog:hover{
    background-color: var(--hovered);
}
#modlog{
    right: 22.5vh;
}
#modlog:hover{
    background-color: var(--hovered);
}
.main-banner{
    margin: 0 auto;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    position: relative;
    /*background-color: #e0dcdc;*/
}
.main-banner .imgban{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}
/*.main-banner #imgban4{
    background-image: url(/Portfolio_Project/images/banner4.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban3{
    background-image: url(/Portfolio_Project/images/banner3.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/
.main-banner #imgban2{
    background-image: url(/Portfolio_Project/images/banner2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban1{
    background-image: url(/Portfolio_Project/images/banner1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#search_section{
    background-color:var(--search-section-color);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#searchbar{
    margin: 10px;
    height: 4vh;
    border-radius: 70px;
    border: 1px solid var(--border-color);
    text-align: center;
    background-color: var(--background-color);

}
.info{
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 10px;
    width: 50%;
    background-color: var(--search-section-color);
}

.searchables{
    height: 6vh;
    width: 6vh;
    margin: 10px;
    background-repeat: no-repeat;
    border-radius: 90px;
    background-size: 6vh;
    background-position: 50%;
    position:relative;
    border: none;
    min-width: 6vh;
}
.searchables:hover{
    cursor: pointer;
}
.country_selector{
    width: 20vh;
    height: 5vh;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    background-color: var(--background-color);
    cursor: pointer;
}
.country_selector:hover{
    background-color: var(--hovered);
}
#filters{
    width: 10vh;
    height: 6vh;
    margin: 10px;
    background-color: var(--background-color);
    cursor: pointer;
}
#filters:hover{
    background-color: var(--hovered);
}
.hide{
    display: none;
}
#hidden_filters{
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 60%;
    border: 2px var(--border-color) solid;
    background-color: grey;

}
#hidden_filters .searchables{
    height: 4vh;
    width: 4vh;
    margin: 5px;
    background-repeat: no-repeat;
    border-radius: 90px;
    background-size: 4vh;
    background-position: 50%;
    position:relative;
    border: none;
    min-width: 4vh;
}
.filter_buttons{
    width: 45%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.filter_buttons_parent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1vh;
    text-align: center;
}
#hidden_login{
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 30%;
    height: 50%;
    width: 40%;
    border: 2px var(--border-color) solid;
}
.disabled{
    pointer-events: none;
}


.nameCard{
    font-size: 20px;
    font-weight: 700;
}

.desc{
    line-height: 30px;
    font-size: 15px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.available{
    left:90%;
    width: 3vh;
    position: relative;
    z-index: 1;

}

.livein{
    width: 60%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.langexp{
    width: 30;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.icons{
    height: 15px; 
    position: relative;
    top:0.75vh;
}
.logheader, .regcard a{
    font-size: 3vh;
    margin: 2vh;
}
.logprompt{

}
.backlog{
    position: absolute;
    z-index: 2;
    left: 20%;
    top: 0.5vh;
}
.backlog img{
    width: 5vh;
}
.reginput{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    position: relative;
    top: 50%;
    
}
.logininput{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    position: relative;
    top: 50%;
    height: 100vh;
}
.regcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: var(--login-color);
}

.logincard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: var(--login-color);
    height: 100vh;
}
.logincard input, .regcard input{
    margin: 0.5vh;
    height: 4vh;
    width: 20vh;
    border-radius: 50px;
    border: none;
    text-align: center;
    
}
.logincard input:hover, .regcard input:hover{
    background-color: var(--hovered);
}
.logincard a, span, .regcard a, span{
    font-size: small;
}
.regcard .country_selector{
    height: 4vh;
    width: 20vh;
}
.about{
    border-radius: 10px;
    width: 30vh;
    min-height: 20vh !important;
    resize: none;
}
.experienceChecks{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.experienceChecks input{
    width: 2.5vh;
}
.expcheck{
    margin: 0.1vh;
    text-align: center;
    width: 25%;
}
.slangChecks{
    display: flex;
    width: 70%;

    flex-direction: row;
}
.slangChecks input{
    width: 2.5vh;
}
.slacheck{
    margin: 0.1vh;
    text-align: center;
    width: 100%;
    
}
.registerSubmit:hover{
    cursor: pointer;
    background-color: var(--hovered);
}
#available{
    width: 2.5vh;
}
@font-face {
    font-family: basic_my;
    src: url(./font_files/PlusJakartaSans-VariableFont_wght.ttf);
}
@media screen and (max-width: 2200px){
    #search_buttons{
        overflow-x:auto;
        display: flex;
        flex-direction: row;
        max-width: 60%;
    }
    #search_buttons::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width: 652px){
    /*#search_section{
        background-color: var(--search-section-color);
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
        flex-direction: row;
        overflow: hidden;
    }*/
    .backlog{
        display: none;
    }
    .about{
        width: 100%;
    }
    .searchables{
        display: none;
    }
    #search_section .country_selector{
        display: none;
    }
    #hidden_filters{
          
        z-index: 2 !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        height: 100% !important;
        width: 100% !important;
        border: 2px var(--border-color) solid !important; 
        background-color: gray;
    }
    #hidden_filters .searchables{
        display: flex;
    }
    .filter_buttons{
        width: 85%;
    }
    .available{
        position:relative; 
        left:95%;
        
    }
    .info{
        width: auto;
    }
    .slacheck label, .expcheck label{
        font-size: small;
    }
    #clock{
        display: none;
    }
    
}
/*@media screen and (max-width: 319px){
    *{
        display: none;
    }
    
}*/
/* LOL */
/*
.lang-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Open Sans;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(270deg, #672572, #9646A3);
    align-self: center;
    height: 36px;
    width: 36px;
    cursor: pointer;
    z-index: 2;
    transition: box-shadow 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  }
  
  .lang-button-text {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
  }
  */